.main__wrap-img {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    & img {
        width: 100%;
        height: 100%;
        display: block;
        filter: brightness(90%);
    }
}



.main-inner  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

    padding: 8% 0;

    &__title {
         @include adaptive-font(75, 25);
        font-weight: 900;
        text-transform: uppercase;
        color: #292929;
    }

    &__subtitle {
        width: 95%;
        @include adaptive-font(35, 16);
        font-weight: 500;
        color: #ffffff;
        text-align: center;

        margin-bottom: 3rem;
    }

    &__btn {
        @include adaptive-font(22, 14);
        color: white;
        padding: 1rem 2rem;
        border: none;
        border-radius: 30px;
        background-color: $logo-color;
        cursor: pointer;
    }
}